Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pyc

Viewer_Server/Viewer_Server/bin
Viewer_Server/Viewer_Server/obj
MayaScripts/literatim/*.pyc
*.pyc

MayaScripts/literatim/LiteratimMainManager.pyc
MayaScripts/literatim/SceneManager.pyc
MayaScripts/literatim/LiteratimClient.pyc


LiteratumMaya/Debug
LiteratumMaya/LiteratumMaya.VC.db
LiteratumMaya/LiteratumMaya/Debug