Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Viewer_Server/Viewer_Server/bin
Viewer_Server/Viewer_Server/obj
MayaViewer/*.pyc